@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');
@import url('../scss/_theme.scss');
.menu a {
    color: $primary !important;
}

.header__above_the_fold {
    background: linear-gradient(234.59deg, rgba(0, 144, 186, 0.23) 13%, rgba(255, 254, 249, 0) 74.79%);
    .above_the_fold__h1 {
        font-size: 52px;
        line-height: 68px;
        color: $primary;
    }
    .above_the_fold__p {
        font-size: 34px;
        line-height: 44px;
    }
    .above_the_fold__p--discount {
        font-size: 18px;
        line-height: 28px;
    }
    .btn-try-toothpaste {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 75%;
        }
    }
}

.third-main-section {
    color: rgba(255, 254, 249, 1);
    background: linear-gradient(99.27deg, #00833E 28.22%, #71B223 90.41%, #A2C617 100.92%);
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 18px;
        font-weight: 400;
    }
}

.fourth-main-section {
    .certification-logo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}

.form-section {
    background: linear-gradient(97.04deg, #A2C617 2.83%, #A2C617 75.59%, rgba(62, 156, 47, 0.6) 106.31%, #00833E 106.31%);
    .btn-newsletter {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 30%;
        }
    }
}

.landing-footer {
    //background-color: rgba(0, 131, 62, 1);
    h3 {
        font-size: 24px;
    }
    .lotrek-footer-logo {
        display: flex;
        align-items: flex-end;
    }
}